<%= render "nav" %>

<div ng-app="socialNetworking">
  <div ng-controller="GoalCtrl as goal">
    <form novalidate role="form">
      <div class="form-group">
        <label for="new-goal-description">What is your goal?</label>
        <input type="text" class="form-control" id="new-goal-description" ng-model="goal.description">
      </div>

      <button class="btn btn-primary" ng-click="goal.save()">Save</button>
    </form>

    <div ng-repeat="participantGoal in goal.participantGoals">
      <div goal></div>
    </div>
  </div>
</div>
