<%= render "social_networking/shared/nav" %>

<div ng-controller="FeedCtrl as feed">
  <a href="">What's on your mind?</a>

  <div ng-repeat="item in feed.items">
    <div feed-item></div>
  </div>
</div>
