<%= render "social_networking/shared/nav" %>

<div ng-controller="HomeCtrl as home">
  <button class="btn btn-link" ng-click="home.newOnYourMindStatement()" ng-show="home.inFeedBrowseMode()">What's on your mind?</button>

  <form novalidate role="form" name="onYourMindForm" class="row" ng-show="home.inOnYourMindEntryMode()">
    <div class="form-group col-lg-8 col-md-8">
      <label for="new-on-your-mind-description">What's on your mind?</label>
      <input type="text" class="form-control" id="new-on-your-mind-description" ng-model="home.onYourMindModel.description" ng-maxlength="255" required focus-on="new-goal">
    </div>

    <div class="form-group col-lg-8 col-md-8">
      <button class="btn btn-primary" ng-click="home.saveOnYourMind()" ng-disabled="onYourMindForm.$invalid">Save</button>
      <button class="btn btn-default" ng-click="home.cancelOnYourMindEntryMode()">Cancel</button>
    </div>
  </form>

  <form novalidate role="form" name="commentOnForm" class="row" ng-show="home.inCommentOnMode()">
    <div class="form-group col-lg-8 col-md-8">
      <label for="comment-text">What do you think?</label>
      <input type="text" class="form-control" id="comment-text" ng-model="home.commentModel.text" ng-maxlength="255" required focus-on="new-comment">
    </div>

    <div class="form-group col-lg-8 col-md-8">
      <button class="btn btn-primary" ng-click="home.saveComment()" ng-disabled="commentOnForm.$invalid">Save</button>
      <button class="btn btn-default" ng-click="home.cancelCommentOnMode()">Cancel</button>
    </div>
  </form>

  <div ng-repeat="item in home.actionItems">
    <a href="{{ item.link }}">{{ item.label }}</a>
  </div>

  <ul class="list-group">
    <li ng-repeat="item in home.feedItems | orderBy:'createdAt':true"
        ng-show="home.inFeedBrowseMode()"
        class="list-group-item"
        id="{{ item.className }}-{{ item.id }}">
      <p>{{ item.summary }}</p>

      <div class="actions">
        <button class="btn btn-link comment" ng-click="home.commentOn(item)">
          <span class="fa-stack">
            <i class="fa fa-comment text-primary fa-stack-2x"></i>
            <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
          </span>
        </button>
        <button class="btn btn-link comments" ng-show="!!item.comments.length" ng-click="item.showComments = !item.showComments">
          <i class="fa fa-comments fa-2x"></i>
          <i class="fa fa-2x">{{ item.comments.length }}</i>
        </button>
        <button class="btn btn-link" ng-if="!!item.isPublic" ng-click="item.showSummary = !item.showSummary">
          <i class="fa fa-folder-open fa-2x" ng-if="!item.showSummary"></i><i class="fa fa-folder fa-2x" ng-if="!!item.showSummary"></i>
        </button>
      </div>

      <div ng-if="!!item.isPublic" ng-show="!!item.showSummary" ng-include src="item.templatePath + '/_summary.html'"></div>

      <p ng-show="!!item.showComments" class="comment text-muted" ng-repeat="comment in item.comments">{{ comment.participantId }}: <span class="text-info">{{ comment.text }}</span></p>
    </li>
  </ul>

  <div ng-repeat="profile in home.memberProfiles">
    <div profile-status></div>
  </div>
</div>

<% content_for(:bottom) do %>
  <div ng-controller="HomeCtrl as home">
    <nav class="navbar navbar-default navbar-fixed-bottom visible-xs-block" role="navigation" ng-show="home.inFeedBrowseMode()">
      <div class="container">
        <div class="row">
          <div class="col-xs-2" ng-click="home.show('feed')"><button class="btn btn-link">Feed</button></div>
          <div class="col-xs-2" ng-click="home.show('profiles')"><button class="btn btn-link">Profiles</button></div>
        </div>
      </div>
    </nav>
  </div>
<% end %>

<!-- bootstrap Angular app with data -->
<script>
  angular.module('socialNetworking.values')
    .value('actionItems', <%= @action_items.to_json.html_safe %>)
    .value('feedItems', <%= @feed_items.to_json.html_safe %>)
    .value('memberProfiles', <%= @member_profiles.to_json.html_safe %>);
</script>
