<a name="nudges"></a>

<%= render "social_networking/coach/patient_dashboards/tables/nudges/initiator_nudges", nudges: patient.initiator_nudges %>

<%= render "social_networking/coach/patient_dashboards/tables/nudges/recipient_nudges", nudges: patient.recipient_nudges %>
