<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nudges Received</h3>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Received At</th>
        <th>Sent By</th>
      </tr>
    </thead>
    <tbody>
      <% nudges.each do |nudge| %>
        <tr>
          <td><%= nudge.created_at.to_s(:standard) %></td>
          <td><%= nudge.initiator.study_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
