<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "social_networking", media: "all" %>
  <%= javascript_include_tag "social_networking" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="socialNetworking">

<%= yield %>

</body>
</html>
