<%= stylesheet_link_tag "social_networking/bootstrap_overrides" %>

<%= render "social_networking/shared/nav" %>

<h3>Others' Goals</h3>

<ul class="list-group" ng-controller="GoalCtrl as goal">
  <li ng-repeat="participantGoal in goal.participantGoals | orderBy:'isCompleted'"
      class="list-group-item"
      id="goal-{{ participantGoal.id }}"
      ng-class="participantGoal.isCompleted ? 'list-group-item-success' : ''">
    {{ participantGoal.participantId }}<br>
    <label>
      {{ participantGoal.description }}
    </label>
  </li>
</ul>

<!-- bootstrap Angular app with current participant study end date -->
<script>
  angular.module('socialNetworking.values')
    .value('participantStudyEndDate', '<%= current_participant.active_membership_end_date %>');
  angular.module('socialNetworking.values')
    .value('currentGoals', <%= @goals.to_json.html_safe %>);
</script>
