<div ng-controller="GoalCtrl as goal">
  <div class="row hidden-xs">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <button class="btn btn-default" ng-click="goal.new()" ng-show="goal.inBrowseMode()">+ add a goal</button>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <ul class="nav nav-tabs" role="tablist" ng-show="goal.inBrowseMode()">
        <li ng-class="goal.getTab() === 'all' ? 'active' : ''"><a href="" ng-click="goal.setFilter('all'); goal.setTab('all')">All</a></li>
        <li ng-class="goal.getTab() === 'completed' ? 'active' : ''"><a href="" ng-click="goal.setFilter('completed'); goal.setTab('completed')">Completed</a></li>
        <li ng-class="goal.getTab() === 'deleted' ? 'active' : ''"><a href="" ng-click="goal.setFilter('deleted'); goal.setTab('deleted')">Deleted</a></li>
      </ul>
    </div>
  </div>

  <button type="button" class="btn btn-link" id="help-pop" data-trigger="focus" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<p>The ACHIEVE tool helps you set goals.</p>
  <p>When you are writing your goal, be sure to consider the following:</p>
<ol>
  <li>What is the specific thing you will do?</li>
  <li>Where will you do it?</li>
  <li>When will you do it?</li>
  <li>How much and how often?</li>
</ol>
<p>Remember that SMART goals tend to be the most helpful: Specific (the What), Measurable (helps you track your progress), Attainable (something you believe you can do), Relevant (i.e., meaningful to you, not something other people want you to do), and Time-framed.
<p>For example, let’s say you want to work toward being less stressed. You might start with a goal to do more calming activities each week. From there, you can make your goal even more helpful by adding in the details: what the specific calming activities will be, where you’ll do them, when, how much and how often. You would then write “I will listen to (WHAT) at least 3 calming songs (HOW MUCH) every evening (HOW OFTEN) after dinner (WHEN) on the couch (WHERE).">
      Need some help writing a goal?
  </button>

  <form novalidate role="form" name="goalForm" class="row" ng-show="goal.inEntryMode()">
    <input type="hidden" ng-model="goal.goalModel.id" ng-if="goal.goalModel.id !== null">

    <div class="form-group col-lg-8 col-md-8">
      <label for="new-goal-description">What is your goal?</label>
      <input type="text" class="form-control" id="new-goal-description" ng-model="goal.goalModel.description" ng-maxlength="255" required focus-on="new-goal">
    </div>

    <div class="form-group col-lg-8 col-md-8">
      <label>When do you want it completed?</label>
      <div class="radio">
        <label>
          <input type="radio" name="due-on" ng-model="goal.goalModel.dueOn" value=""> no specific date
        </label>
      </div>
      <div class="radio" ng-if="goal.dateAtEndOfTrial() !== null">
        <label>
          <input type="radio" name="due-on" ng-model="goal.goalModel.dueOn" value="{{ goal.dateAtEndOfTrial() }}"> end of study
        </label>
      </div>
    </div>

    <div class="form-group col-lg-8 col-md-8">
      <button class="btn btn-primary" ng-click="goal.save()" ng-disabled="goalForm.$invalid">Save</button>
      <button class="btn btn-default" ng-click="goal.resetForm()">Cancel</button>
    </div>
  </form>

  <ul class="list-group" ng-show="goal.inBrowseMode()">
    <li ng-repeat="participantGoal in goal.participantGoals | filter:goal.getFilter() | orderBy:'isCompleted'"
        class="list-group-item"
        id="goal-{{ participantGoal.id }}"
        ng-class="participantGoal.isCompleted ? 'list-group-item-success' : ''">
      <p>
        {{ participantGoal.description }}
        <span class="text-muted pull-right">
          Due: {{ participantGoal.dueOn ? participantGoal.dueOn : 'no date given' }}
        </span>
      </p>

      <div>
        <button class="btn btn-default complete" ng-click="goal.toggleComplete(participantGoal)" ng-if="!participantGoal.isDeleted && !participantGoal.isCompleted">
          Complete
        </button>
        <button ng-if="!participantGoal.isDeleted && !participantGoal.isCompleted" class="btn btn-link edit" ng-click="goal.edit(participantGoal)"><i class="fa fa-pencil fa-2x"></i></button>
        <button ng-if="!participantGoal.isDeleted && !participantGoal.isCompleted" class="btn btn-link delete" ng-click="goal.toggleDeleted(participantGoal)"><i class="fa fa-trash text-danger fa-2x"></i></button>
      </div>
    </li>
  </ul>
</div>

<% content_for(:bottom) do %>
  <div ng-controller="GoalCtrl as goal">
    <nav class="navbar navbar-default navbar-fixed-bottom visible-xs-block" role="navigation" ng-show="goal.inBrowseMode()">
      <div class="container">
        <div class="row">
          <div class="col-xs-2"><button class="btn btn-link" ng-click="goal.new()">+</button></div>
          <div class="col-xs-2" ng-class="goal.getTab() === 'all' ? 'active' : ''" ng-click="goal.setFilter('all'); goal.setTab('all')"><button class="btn btn-link">All</button></div>
          <div class="col-xs-4" ng-class="goal.getTab() === 'completed' ? 'active' : ''" ng-click="goal.setFilter('completed'); goal.setTab('completed')"><button class="btn btn-link">Completed</button></div>
          <div class="col-xs-4" ng-class="goal.getTab() === 'deleted' ? 'active' : ''" ng-click="goal.setFilter('deleted'); goal.setTab('deleted')"><button class="btn btn-link">Deleted</button></div>
        </div>
      </div>
    </nav>
  </div>
<% end %>

<!-- bootstrap Angular app with current participant study end date -->
<script>
  angular.module('socialNetworking.values').value('participantStudyEndDate', '<%= current_participant.active_membership_end_date %>');
  angular.module('socialNetworking.values').value('currentGoals', <%= goals.to_json.html_safe %>);
  angular.module('socialNetworking.values').value('noticesEnabled', <%= Rails.configuration.enable_notices %>);
  angular.module('socialNetworking.values').value('noticeUtility', Notice);
</script>
