<div ng-controller="ProfilesCtrl as profiles" ng-cloak>
  <div ng-repeat="profile in profiles.members">
    <div class="row profile-participant">
      <p>
        User: 
        <a href="<%= social_networking_profile_path %>/{{ profile.id }}" data-no-turbolink="true">
        <img ng-src="{{ profile.iconSrc }}">
          {{ profile.username }}
        </a>
      </p>
      <p>Last seen: {{ profile.latestAction | timeFromNow }}</p>
    </div>
    <dl>
      <dt ng-repeat-start="r in profile.responses">{{ r.question }}</dt>
      <dd ng-repeat-end>{{ r.text }}</dd>
    </dl>
  </div>
</div>

<!-- bootstrap Angular app with current participant id -->
<script>
  angular.module('socialNetworking')
    .value('participantId', <%= current_participant.id %>)
    .value('profileId', <%= @profile.id %>);
</script>
