<%= stylesheet_link_tag "social_networking/bootstrap_overrides" %>

<%= render "social_networking/shared/nav" %>

<div ng-controller="ProfileCtrl as profile">
  <a href="" ng-click="profile.nudge()">Nudge</a>
  <a href="" ng-click="profile.edit()">Edit my profile</a>
  <dl>
    <dt ng-repeat-start="r in profile.responses">{{ r.question }}</dt>
    <dd ng-repeat-end>{{ r.text }}</dd>
  </dl>
</div>

<div ng-controller="ParticipantCtrl as participant">
  <div profile-status></div>
</div>

<!-- bootstrap Angular app with current participant id -->
<script>
  angular.module('socialNetworking').value('participantId', <%= current_participant.id %>).value('profileId', <%= @profile.id %>);
</script>
