<!DOCTYPE html>
<html>
<head>
  <title>SocialNetworking</title>
  <%= stylesheet_link_tag    "social_networking/application", media: "all" %>
  <%= javascript_include_tag "social_networking/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
