/* bootstrap overrides */

/* bottom navbar (for mobile) */
.navbar-fixed-bottom .container {
  min-height: 50px;
}

.navbar-fixed-bottom .row {
  min-height: 50px;
}

.navbar-fixed-bottom .col-xs-* {
  min-height: 50px;
}

.navbar-fixed-bottom .col-xs-2 {
  padding-left: 0;
  padding-right: 0;
}

.navbar-fixed-bottom .col-xs-4 {
  padding-left: 0;
  padding-right: 0;
}

.navbar-fixed-bottom .active {
  background-color: #e7e7e7;
}

.navbar-fixed-bottom button {
  min-height: 50px;
  width: 100%;
}

.navbar-fixed-bottom button:focus {
  outline: none;
}

.navbar-fixed-bottom .btn-link:hover {
  text-decoration: none;
}

.navbar-fixed-bottom .btn-link:active {
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar {
    margin-bottom: 0;
  }
}

.faded
{
  opacity:0.5;
}

.action-items .list-group-item, .action-items .panel-body {
  padding-top: 2px;
  padding-bottom: 2px;
}

.actions .btn-link {
  padding: 5px;
}

.actions .btn-link:focus {
  outline: none;
  text-decoration: none;
}

.actions .btn-link:hover {
  outline: none;
  text-decoration: none;
}


/* profile page (for mobile) */

.modal-backdrop {
    display: none;
}

.modal-header .close {
  position: relative;
  right: -10px;
  top: -50px;
}

#profile-icon {
  margin: 10px;
}

.icon-selection {
  padding: 5px;
}

.icon-selection img {
  width: 70%;
}

.profile-participant {
  margin: 5px;
}

.profile-participant img {
  display: inline-block;
  float: left;
  margin: 0 5px 5px 10px;
  width: 50px;
}

/* profiles */

.profile-border {
  border: 2px;
  border-color: black;
  border-style: solid;
}

.profile-last-seen {
    padding-top: 5px;
    margin-bottom: 15px;
}

.profile-icon-top {
    margin-top: 10px;
}

/* icons */

.like > .fa-stack > .fa-stack-1x {
  top: 2px;
  left: 1px;
}

/* feed */
img.feed-participant-icon {
  width:40px;
}

a#help-pop {
  cursor: pointer;
}