.profile-border {
  border: 2px;
  border-color: black;
  border-style: solid;
}

.profile-last-seen {
    padding-top: 5px;
    margin-bottom: 15px;
}

.profile-icon-top {
    margin-top: 10px;
}

div.edit-link {
  position: relative;
  bottom: 35px;
}