<li ng-repeat="item in home.feedItems | orderBy:'createdAt':true"
    ng-show="home.inFeedBrowseMode()"
    class="list-group-item"
    id="{{ item.className }}-{{ item.id }}">
  <p>
    <div class="media feed-item-displayname" ng-if="!item.data.summary.length">
      <div ng-if="item.isAdmin" class="media-left">
        <img class="feed-participant-icon" ng-src="{{ home.profileIconSrcFor(item) }}">
      </div>
      <div class="media-body">
        <span class="pull-right text-muted">{{home.timeAgoInWords(item.createdAt)}}</span>
        <strong>{{ home.profileDisplayNameFor(item) }}</strong>
        {{ item.summary }}
      </div>
    </div>
    <div class="media feed-item-displayname" ng-if="item.data.summary.length">
      <div ng-if="item.isAdmin" class="media-left">
        <img class="feed-participant-icon" ng-src="{{ home.profileIconSrcFor(item) }}">
      </div>
      <div class="media-body">
        <span class="pull-right text-muted">{{home.timeAgoInWords(item.createdAt)}}</span>
        <strong>{{ home.profileDisplayNameFor(item) }}</strong>
        {{ item.summary }}
      </div>
    </div>
  </p>

  <div class="actions">
    <a href="" ng-click="home.commentOn(item)">
      Comment
    </a>
    <a href="" class="comments" title="View comments" ng-click="item.showComments = !item.showComments">
      ({{home.associationCount(item.comments)}})
    </a>

    <span ng-if="home.hasLikeableContent(item)">
      <span> | </span>
      <a href="" ng-if="home.isLikeable(item)" title="Like this item" ng-click="home.addLikeTo(item)">
        Like
      </a>
      <span ng-if="!home.isLikeable(item)" class="text-muted">Like</span>
      <a href="" class="likes" title="View likes" ng-click="item.showLikes = !item.showLikes">
        ({{home.associationCount(item.likes)}})
      </a>
    </span>

    <span ng-if="home.hasSummary(item)">
      <span> | </span>
      <a href="" title="View details" ng-click="item.showSummary = !item.showSummary">
        <span ng-if="!item.showSummary">More</span>
        <span ng-if="!!item.showSummary">Less</span>
      </a>
    </span>
  </div>

  <div ng-if="home.hasSummary(item)" ng-show="!!item.showSummary">
    <div ng-include src="item.templatePath + '/_summary.html'"></div>
  </div>

  <div ng-show="!!item.showLikes">
    <strong>Liked by:</strong><br />
    <p ng-repeat="like in item.likes">
      <strong class="text-muted">{{ like.participantDisplayName }}</strong>
      <span class="pull-right text-muted">{{home.timeAgoInWords(like.createdAt)}}</span>
    </p>
  </div>

  <div ng-show="!!item.showComments">
    <strong>Comments</strong><br />
    <div class="media comment text-muted" ng-repeat="comment in item.comments">
      <div class="media-left" ng-if="comment.isAdmin">
        <img class="media-object feed-participant-icon" ng-src="{{ home.profileIconSrcFor(comment) }}">
      </div>
      <div class="media-body">
        <strong>{{ home.profileDisplayNameFor(comment) }}</strong>: <span>{{ comment.text }}</span>
        <span class="pull-right text-muted">{{home.timeAgoInWords(comment.createdAt)}}</span>
      </div>
    </div>
  </div>

  <div ng-show="home.isCommentingOn(item)">
    <form novalidate role="form" >
      <div class="form-group">
        <label for="comment-text-{{ item.id }}">What do you think?</label>
        <input type="text" class="form-control" id="comment-text-{{ item.id }}" ng-model="home.commentModel.text" ng-maxlength="home.textMaxLength" required focus-on="new-comment" ng-focus="home.showCharLimit('input#comment-text-' + item.id)">
      </div>

      <div class="form-group">
        <button class="btn btn-primary" ng-click="home.saveComment()" ng-disabled="commentOnForm.$invalid">Save</button>
        <button class="btn btn-default" ng-click="home.closeCommentForm()">Cancel</button>
      </div>
    </form>
  </div>
</li>
