<li ng-repeat="item in home.feedItems | orderBy:'createdAt':true"
    ng-show="home.inFeedBrowseMode()"
    class="list-group-item"
    id="{{ item.className }}-{{ item.id }}">
  <p>
    <div class="media feed-item-displayname" ng-if="!item.data.summary.length">
      <div ng-if="item.isAdmin" class="media-left">
        <img class="feed-participant-icon" ng-src="{{ home.profileIconSrcFor(item) }}">
      </div>
      <div class="media-body">
        <span class="pull-right text-muted">{{home.timeAgoInWords(item.createdAt)}}</span>
        <strong>{{ home.profileDisplayNameFor(item) }}</strong>
        {{ item.summary }}
      </div>
    </div>
    <div class="media feed-item-displayname" ng-if="item.data.summary.length">
      <div ng-if="item.isAdmin" class="media-left">
        <img class="feed-participant-icon" ng-src="{{ home.profileIconSrcFor(item) }}">
      </div>
      <div class="media-body">
        <span class="pull-right text-muted">{{home.timeAgoInWords(item.createdAt)}}</span>
        <strong>{{ home.profileDisplayNameFor(item) }}</strong>
        {{ item.summary }}
      </div>
    </div>
  </p>

  <div class="actions">
    <a href="" class="comments" title="View comments" ng-click="item.showComments = !item.showComments">
      Comments ({{home.associationCount(item.comments)}})
    </a>

    <span ng-if="home.isLikeable(item)">
      <span> | </span>
      <a href="" class="likes" title="View likes" ng-click="item.showLikes = !item.showLikes">
        Likes ({{home.associationCount(item.likes)}})
      </a>
    </span>

    <span ng-if="home.hasSummary(item)">
      <span> | </span>
      <a href="" title="View details" ng-click="item.showSummary = !item.showSummary">
        <span ng-if="!item.showSummary">More</span>
        <span ng-if="!!item.showSummary">Less</span>
      </a>
    </span>
  </div>

  <div class="media" ng-if="home.hasSummary(item)" ng-show="!!item.showSummary">
    <div class="media-left"></div>
    <div class="media-body" ng-include src="item.templatePath + '/_summary.html'"></div>
  </div>

  <div ng-show="!!item.showLikes">
    <p><strong>Liked by:</strong></p>
    <p ng-repeat="like in item.likes">
      <strong class="text-muted">{{ like.participantDisplayName }}</strong>
      <span class="pull-right text-muted">{{home.timeAgoInWords(like.createdAt)}}</span>
    </p>
    <a href="" ng-if="home.canAddLikeTo(item)" title="Like this item" ng-click="home.addLikeTo(item)">
      Like
    </a>
  </div>

  <div ng-show="!!item.showComments">
    <p><strong>Comments</strong></p>
    <div class="media comment text-muted" ng-repeat="comment in item.comments">
      <div class="media-left" ng-if="comment.isAdmin">
        <img class="media-object feed-participant-icon" ng-src="{{ home.profileIconSrcFor(comment) }}">
      </div>
      <div class="media-body">
        <strong>{{ home.profileDisplayNameFor(comment) }}</strong>: <span>{{ comment.text }}</span>
        <span class="pull-right text-muted">{{home.timeAgoInWords(comment.createdAt)}}</span>
      </div>
    </div>
  </div>

  <div class="media">
    <a href="" ng-show="!!item.showComments" ng-click="home.commentOn(item)">
      Add Comment
    </a>
  </div>

  <div class="media" ng-show="home.isCommentingOn(item)">
    <div class="media-left"></div>
    <div class="media-body">
      <form novalidate role="form" >
        <div class="form-group">
          <label for="comment-text">What do you think?</label>
          <input type="text" class="form-control" id="comment-text" ng-model="home.commentModel.text" ng-maxlength="255" required focus-on="new-comment">
        </div>

        <div class="form-group">
          <button class="btn btn-primary" ng-click="home.saveComment()" ng-disabled="commentOnForm.$invalid">Save</button>
          <button class="btn btn-default" ng-click="home.closeCommentForm()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</li>